html,
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #808080;
    cursor: none;
}

.main-container {
    padding: 0 5vw;
}

section {
    padding: 100px 0;
}

.section-header {
    margin-bottom: 50px;
}